img { max-width: 100%; }

.red { color : red; }

label.error {
	color: #F00;
	font-weight: bold;
}

input.error, select.error, textarea.error {
	border: 1px red solid;
}

label {
	display: inline-block;
	width: 5em;
}